default_install_hook_types: [pre-commit, commit-msg]
repos:

- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 26.1.0
  hooks:
  - id: black

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
    args: [--unsafe]
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: 'v0.14.14'
  hooks:
  - id: ruff
    stages: [pre-commit]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v1.19.1'
  hooks:
  - id: mypy
    stages: [pre-commit]

- repo: https://github.com/PyCQA/bandit
  rev: '1.9.3'
  hooks:
  - id: bandit
    args: [--skip, "B101,B311,B104"]
    stages: [pre-push]

- repo: https://github.com/compilerla/conventional-pre-commit
  rev: 'v4.3.0'
  hooks:
  - id: conventional-pre-commit
    stages: [commit-msg]
    args: [feat, fix, ci, docs, test, dash, dev, deps, style, refactor, perf, chore, nb, build]


- repo: local
  hooks:
  - id: pytest
    name: pytest
    entry: pytest
    language: system
    types: [python]
    stages: [pre-push]
    pass_filenames: false
    always_run: true

ci:
  autofix_commit_msg: ci(pre-commit)
  autoupdate_commit_msg: ci(pre-commit)
