[tool.poetry]
name = "psychoanalyze"
version = "0.5.0"
description = "A Pythonic analysis package for psychophysics data"
authors = ["Ty Schlichenmeyer <t.schlic@wustl.edu>"]
license = "GPL-3.0-or-later"
readme = "README.md"

[tool.poetry.dependencies]
python = "3.11.4"
pandas = "^2.0.2"
scipy = "^1.10.1"
numpy = "^1.25.0"
dash-bootstrap-components = "^1.4.1"
statsmodels = "^0.14.0"
dash-daq = "^0.5.0"
dash = "^2.11.1"
dbt-duckdb = "^1.5.1"
scikit-learn = "^1.2.2"
bambi = "^0.11.0"
cmdstanpy = "^1.1.0"
pandas-stubs = "^2.0.2.230605"
pandera = {extras = ["mypy"], version = "^0.15.1"}
pytest = "^7.3.2"
hypothesis = "^6.79.0"
datatest = "^0.11.1"
pytest-mock = "^3.11.1"
gunicorn = "^20.1.0"
mypy = "^1.4.1"
click = "^8.1.3"
typer = {extras = ["all"], version = "^0.9.0"}
tuna = "^0.5.11"
ruff = "^0.0.276"
black = "^23.3.0"
mkdocs = "^1.4.3"
mkdocs-material = "^9.1.18"
mkdocstrings = {extras = ["python"], version = "^0.22.0"}
ipykernel = "^6.24.0"
ipywidgets = "^8.0.7"
kaleido = "0.2.1"
pyarrow = "^12.0.1"

[tool.poetry.scripts]
psychoanalyze = "psychoanalyze.__main__:main"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.semantic_release]
version_variable = [
    "psychoanalyze/__init__.py:__version__",
    "pyproject.toml:version"
]
branch = "main"
build_command = "poetry build"
major_on_zero = true

[tool.bandit]
targets = ["psychoanalyze/"]
skips = ["B311", "B104"]

[tool.mypy]
exclude = ['target']

[[tool.mypy.overrides]]
module = [
    'dash',
    'plotly.*',
    'dash_bootstrap_components',
    'plotly.express',
    'scipy.stats',
    'scipy.special',
    'sklearn.linear_model',
    'dash_daq',
    'datatest',
    'bambi',
    'hypothesis'
]
ignore_missing_imports = true

[tool.ruff]
fix = true
select = ["ALL", "CPY001"]
ignore = ["S101", "S311", "D211", "D213"]

[tool.ruff.pydocstyle]
convention = "google"

[tool.ruff.per-file-ignores]
"tests/*.py" = ["D100", "D103", "ANN201"]
